@tailwind base;
@tailwind components;
@layer components {
  .heading {
    @apply text-2xl font-bold text-center;
  }
}

@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15%);
  }
}

svg #wheel {
  animation: scroll ease 1.5s infinite;
}
